body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px; /*Thin scrollbar*/
}

::-webkit-scrollbar-track {
  background: linear-gradient(135deg, #3f51b580 0%, #f5005680 100%); /* Hide track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #3f51b5 0%, #f50057 100%); /* Light gray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* Darker gray on hover */
}